@import "tailwindcss";

@theme {
  /* Breakpoints */
    --breakpoint-lp: 900px;
    --breakpoint-lm: 480px;
    --breakpoint-xlm: 528px;
    --breakpoint-xsm: 425px;
  /* Colors */
  --color-primary: #063d30;
  --color-secondary: #fcd718;
  --color-neutral-white: #ffffff;
  --color-neutral-black: #000000;
  --color-gray: #525252;
  
  --background: var(--color-neutral-white);
  --foreground: #171717;

  /* Typography */
  --font-heading: var(--font-anton);
  --font-body: var(--font-outfit);
  --font-inter: var(--font-inter);

  /* Custom Font Sizes based on your image */
  --text-heading-1: 48px;
  --text-body-lg: 32px;
  --text-body-base: 16px;
}

/* Default Styles */
h1, h2, h3 {
  font-family: var(--font-anton);
}

body {
  font-family: var(--font-outfit);
  background-color: var(--color-primary);
}


@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-scroll-left {
  animation: scroll-left 50s linear infinite;
}

.animate-scroll-right {
  animation: scroll-right 50s linear infinite;
}