@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #063d30;
  --color-secondary: #fcd718;
  --color-neutral-white: #ffffff;
  --color-neutral-black: #000000;
  
  --background: var(--color-neutral-white);
  --foreground: #171717;

  /* Typography */
  --font-heading: var(--font-anton);
  --font-body: var(--font-outfit);

  /* Custom Font Sizes based on your image */
  --text-heading-1: 48px;
  --text-body-lg: 32px;
  --text-body-base: 16px;
}

/* Default Styles */
/* h1, h2, h3 {
  font-family: var(--font-heading);
  text-transform: uppercase;
} */

body {
  font-family: var(--font-body);
}